![title](Cover/cover.png)

Hope you will like my work !

Please SUBSCRIBE channel going through this link down below :

https://www.youtube.com/channel/UCfayWGHJ9JvTic8NHxfK09Q

--------------------------------

# PYTHON DATA TYPES TYPES:      
                        1) String    
                        2) Number
                        3) List     
                        4) Tuple      
                        5) Dictionary     
                        6) Boolean

-------------------------------------------

# STRING

In [2]:
#Initializing the variable x
x = "Hello World"

In [3]:
#checking datatype of x variable
type(x)

str

In [4]:
#taking index 2 in variable x, which will give us the value that is placed on index 2
x[2]

# *** Remember always that index in python starts from 0  ***

'l'

*In python Starting index will be included and the ending index will be excluded.

In [5]:
# taking index from 2 to 5 
x[2:5]

'llo'

In [6]:
#getting everything after index 3
x[3:]

'lo World'

In [7]:
#getting everything upto index 3
x[:3]

'Hel'

In [8]:
#Concatination
x + " I am here"

'Hello World I am here'

-------------------------------------------

# NUMBER

In [9]:
#Integer
a = 2
type(a)

int

In [10]:
#Float
b = 2.2
type(b)

float

--------------------------------------

# LIST

In [11]:
#creating an empty list
l = []
type(l)

list

In [12]:
#getting documentation of the datatype
?l

Type:        list
String form: []
Length:      0
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [13]:
# creating list with values.
abc = list([1,2,3,4])
type(abc)

list

In [14]:
# printing the list
print(abc)

[1, 2, 3, 4]

In [15]:
# getting values with index
abc[0]

1

In [16]:
# creating another list with string and numbers
r = [2,'hello','code','fleet']

In [17]:
# concatinating 2 values of string by using index.
r[2] + " " +  r[-1]

'code fleet'

In [18]:
# deleting last element.
r.pop()

'fleet'

In [19]:
r

[2, 'hello', 'code']

In [20]:
# appending a new value at last automatically
r.append(2)

In [21]:
r

[2, 'hello', 'code', 2]

In [22]:
# Replacing values with the existing one using indexes.
r[0] = 3

In [23]:
r

[3, 'hello', 'code', 2]

In [24]:
# insert any value at a specific index

r.insert(2,'fleet')

In [25]:
r

[3, 'hello', 'fleet', 'code', 2]

---------------------------------------------

# TUPLE

In [41]:
# Creating an empty tuple
t = ()
type(t)

tuple

In [42]:
# This line will return an error because tuple are not editable, they are read only. Once they are updated, their values can't be changed.
t.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [45]:
w = (2,2)
type(w)

tuple

In [46]:
w.pop()

AttributeError: 'tuple' object has no attribute 'pop'

--------------------------------

# DICTIONARY

Dictionary are defined in a (key, value) pair. Every key has its value and every value is referred by a key.

In [47]:
# creating an empty dict.
d = {
 
}
type(d)

dict

In [48]:
# Creating a dict. with keys and values
di = {
    1 : 'hello',
    2 : 'world'
}
type(di)

dict

In [52]:
di

{1: 'hello', 2: 'world'}

In [53]:
# using key to print value
di[1]

'hello'

In [55]:
# Concatinating the values by using keys
di[1] + ' ' + di[2]

'hello world'

In [56]:
# Adding a new (key, value)
di[3] = 'Vinay'

In [57]:
di

{1: 'hello', 2: 'world', 3: 'Vinay'}

In [58]:
# Concatinating the values by using keys
di[1] + ' ' + di[3]

'hello Vinay'

--------------------------------------------

# BOOLEAN

In [61]:
bool1 = True
bool2 = False

print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

------------------------------------------------

# QUESTIONS

Q-1) What do we do if we have a list of numbers and we want the last element without counting how many numbers are there ?


Q-2) What happens if we do --------> 'hello' + 2 ?


Q-3) Can we add an Integer and a float ?


Q-4) How many ways are there to create an empty list ?


Q-5) What does pop() and append() do in a list ?


Q-6) What operations can we do with tuples after creating them once ?


Q-7) Try to concatinating two different datatype values by using Dictionary (key,value) pairs ? 


Q-8) Try to use '?' before every thing you see in python and see what happens.


Q-9) Make a Dictionary and use del keyword in front of it (such as -> del dict1) and run the code and see what happens


Q-10) Same as question 9 but this time do dict1.clear()